html, body {
    height: 100%;
    padding-top: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: column;    
}

    ul li {
        flex-grow: 1;
        margin: 0;
        padding: 0px;
    }

    ul li.interface ul li.device:nth-child(even) { background: #fefefe; }
    ul li.interface ul li.device:nth-child(odd) { background: #efefef; }


ul li.interface {
    margin-bottom: 15px;  
    color: black;
    padding: 5px; 
    font-weight: bold;
    font-size: 1.2em;
}
ul li.device { 
    margin-left: 15px; 
    padding: 5px;
    color: black;
    font-weight: normal;
    font-size: 0.8em;
}
